@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --color-1: #808080;
    --color-2: #5186ec;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: var(--color-1);
}

#root {
    display: flex;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color-1);
    padding: 1.5rem 2rem;
}

nav ul {
    padding: 0;
    margin: 2rem 0;
}

nav ul li {
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-1);
    padding: 0.25rem;
    display: block;
}

nav ul li a:hover {
    color: var(--color-2);
}

nav ul li a:active {
    color: var(--color-2);
}

main {
    margin: 4rem;
    overflow-y: scroll;
}

main article {
    max-width: 60rem;
}

h1 {
    color: var(--color-2);
}