$color-05: #007bff;
$color-06: #828282;
$color-07: #ffffff;
$color-08: #212529;
$color-09: #f8f9fa;
$color-10: #343a40;
$color-11: #6c757d;
$color-12: #dee2e6;


$text-01: $color-08;
$text-02: $color-07;
$text-03: $color-11;