footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: lighten($color-06, 45);

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline;

            a {
                text-decoration: none;
                color: $color-06;
                padding: 0.25rem;

                &:hover {
                    color: $color-04;
                }
            }
        }
    }
}