nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: $color-10;
    overflow: hidden;
    height: 3rem;
    transition: all ease 250ms;

    @media (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &.open {
        height: 35rem;
    }

    .logo {
        flex-grow: 1;
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1.75rem 1rem;
        background: none;
        border: none;

        @media (min-width: 1024px) {
            display: none;
        }
    }

    ul {
        display: inline-block;
        padding: 0;
        margin: 1.5rem 0 0 0;

        @media (min-width: 1024px) {
            display: flex;
            margin: 0 0 0 2rem;
        }

        li {
            display: block;
            list-style: none;

            a {
                display: inline-block;
                text-decoration: none;
                color: $text-02;
                padding: 0.5rem;
                width: 100%;

                &:hover {
                    color: $color-05;
                }

                &:active {
                    color: $color-05;
                }
            }
        }
    }
}