nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid lighten($color-6, 30);
    background-color: $color-7;

    ul {
        display: inline;
        padding: 0;
        margin: 0;

        li {
            display: inline;
            list-style: none;

            a {
                text-decoration: none;
                color: $color-6;
                padding: 0.25rem;

                &:link {
                    color: $color-6;
                }

                &:hover {
                    color: $color-4;
                }

                &:active {
                    color: $color-4;
                }
            }
        }
    }
}