<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="shortcut icon" type="image/x-icon" href="./static/Ganeti_logo.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index,follow">
	<meta name="description" content="Ganeti Project Website">
	<meta name="DC.Creator" content="Ganeti Project">
	<meta name="DC.Language" content="en">
</head>

<body>
	<nav id="navigation">
		<div class="logo">
			<a href="/"><img src="./static/Ganeti_logo.png" height="48px"></a>
		</div>

		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/gettingstarted.html">Getting Started</a></li>
			<li><a href="/features.html">Features</a></li>
			<li><a href="/community.html">Community</a></li>
			<li><a href="http://docs.ganeti.org/">Documentation</a></li>
			<li><a href="https://github.com/ganeti/ganeti/issues">Issues</a></li>
			<li><a href="https://github.com/ganeti/ganeti/wiki">Wiki</a></li>
		</ul>

		<ul>
			<li>
				<a href="https://github.com/ganeti" target="_blank" rel="noreferrer noopener"><img src="./static/github.svg" width="24px"></a>
			</li>
			<li>
				<a href="mailto:ganeti@googlegroups.com" rel="noreferrer noopener"><img src="./static/mail.svg" width="24px"></a>
			</li>
		</ul>

		<button id="mobile-menu-button">
			<img src="./static/menu.svg" alt="">
		</button>
	</nav>
	
	<main>
		{{ content }}
	</main>

	<script src="./js/app.js"></script>
</body>

</html>
