<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/features.html">Features</a></li>
				<li><a href="/community.html">Community</a></li>
		        	<li><a href="https://github.com/ganeti/ganeti">Code</a></li>
	        		<li><a href="https://github.com/ganeti/ganeti/issues">Issues</a></li>
	        		<li><a href="https://github.com/ganeti/ganeti/wiki">Wiki</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hello@ganeti.org">email</a></li>
	        		<li><a href="https://github.com/hganeti">github.com/ganeti</a></li>
				</ul>
			</footer>
		</body>
	</html>
