<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<nav>
		<div class="logo">
			<a href="/"><img src="ganeti.png" height="48px"></a>
		</div>

		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/gettingstarted.html">Getting Started</a></li>
			<li><a href="/features.html">Features</a></li>
			<li><a href="/community.html">Community</a></li>
			<li><a href="http://docs.ganeti.org/">Documentation</a></li>
			<li><a href="https://github.com/ganeti/ganeti">Code</a></li>
			<li><a href="https://github.com/ganeti/ganeti/issues">Issues</a></li>
			<li><a href="https://github.com/ganeti/ganeti/wiki">Wiki</a></li>
		</ul>

		<ul>
			<li>
				<a href="https://github.com/hganeti" target="_blank" rel="noreferrer noopener"><img src="./static/github.svg" width="24px"></a>
			</li>
			<li>
				<a href="mailto:hello@ganeti.org" rel="noreferrer noopener"><img src="./static/mail.svg" width="24px"></a>
			</li>
		</ul>
	</nav>
	
	<main>
		{{ content }}
	</main>
</body>

</html>